@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap');
body{
    background-color:blanchedAlmond;
	font-family: 'Roboto', sans-serif;
}


/* Grid System */
.container {
    display: grid;
    grid-template-columns: repeat(12,1fr);
	grid-template-rows: repeat(12,1fr);   
}

/* Welcome Page */
.welcome{
	grid-column: 1/13;
	grid-row: 1/13;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.welcomeImage{
	width: 200px;
	border-radius: 50%;
	background-color: #00ead3;
	padding: 1% 0;
}


.arrow{
	font-weight: bold;
	font-family: "Lucida Sans Unicode", "Arial Unicode MS";
	font-size: 40px;
	cursor: pointer;
	padding-top: 8%;
}

.arrow-anchor{
	text-decoration: none;
}

.arrow-anchor:hover, .arrow-anchor:focus, .arrow-anchor:active{
	color: #00ead3;
}
/* Select Languages */
.language-header{
	grid-column: 1/13;
	grid-row: 1/2;
}
.language1{
	grid-column: 1/7;
	grid-row: 2/5;
	justify-self: center;
	align-self: center;
}

.language2{
	grid-column: 7/13;
	grid-row: 2/5;
	justify-self: center;
	align-self: center;
}

.language3{
	grid-column: 1/13;
	justify-self: center;
	align-self: center;
}

.recording-nav{
	grid-row:1/2;
	grid-column: 1/13;
	display: flex;
	justify-content: space-between;
}

.double-arrow1{
	grid-column: 1/6;
	justify-self: center;
	align-self: center;	
}

.double-arrow2{
	grid-column: 6/13;
	justify-self: center;
	align-self: center;
}

.double-arrow-design{
	font-weight: bold;
	font-family: "Lucida Sans Unicode", "Arial Unicode MS";
	font-size: 40px;
	cursor: pointer;
}

/* Listen & Speak*/

.record-visualizer{
	grid-column: 1/13;
	grid-row: 4/5;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.recording-controls-ls{
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Speech to text page */
.recording-header{
	grid-column: 1/13;
	grid-row: 2/5;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.recording-controls{
	display: flex;
	justify-content: center;
	align-items: flex-start;
}


.recording-result{
	margin-top: 20px;
}

/*Recording*/
.recording-header-ls{
	grid-column: 1/13;
	grid-row: 2/5;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}
canvas {
	display: block;
	margin-bottom: 0.5rem;
}

.sound-clips {
	grid-column: 1/13;
	grid-row: 5/12;	
	display: flex;	
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.clip{
	margin-bottom: 10px;
	display: flex;
	flex-direction: column;
}

.clip> .delete{
	width: 20px;
	height: 20px;
	margin-top: 10px;
	border-radius: 50%;
	justify-content: center;
    align-items: flex-end;
	border: none;
	background-color: orangered;
}

.recording-header-rs{
	grid-column: 1/13;
	grid-row: 2/4;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

/* Other inner features */

.container > * {
    margin: 8px;
}

.speakout{
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}

.click-button, .click-button:disabled {
	background-color: #00ead3;
	color: black;
    width: 150px;
	height: 50px;
	cursor: pointer;
	border: none;
	font-weight:bold;
	border-radius: 5px;
}

/* .click-button:hover , .click-button:active , .click-button:focus{
	
} */


.audiorecord{
	color: #005f99;
	font-weight: bold;

}

/* Text Box */
.record-textbox{
	font-size: 16px;
	background-color: rgb(243, 240, 240);
	width: 200px;
	height: 100px;
}

#update{
	color: #695cc6;
}

@media screen and (max-width: 800px) {
	body{
		overflow-x: hidden;
	}

	.welcome{
		grid-column: 1/13;
		grid-row: 1/5;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding-top: 50%;
	}

	.welcomeImage{
		width: 100px;
		border-radius: 50%;
		background-color: #00ead3;
	}

	.arrow{
		font-weight: bold;
		font-family: "Lucida Sans Unicode", "Arial Unicode MS";
		font-size: 40px;
		cursor: pointer;
	}

	/* Select Languages */
	.language-header{
		grid-column: 1/13;
		grid-row: 1/2;
	}

	.language1{
		grid-column: 1/7;
		grid-row: 1/4;
		justify-self: center;
		align-self: center;
	}

	.language2{
		grid-column: 7/13;
		grid-row: 1/4;
		justify-self: center;
		align-self: center;
	}

	.language3{
		grid-column: 1/13;
		grid-row: 3/4;
		justify-self: center;
		align-self: center;
	}

	/*Listen & Speak*/
	.speakout{
		font-size: 16px;
		font-weight: bold;
		text-align: center;
		padding-bottom: 3%;
	}

}